.capa {
    max-height: 100vh;
    border: 0px solid #ffffff;
    display: flex;
    overflow-x: auto;
}

.navbar {
    display: flex;
}

.navbar a {
    flex: 1;
    text-align: center;
    padding: 20px 0;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.navegacion a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

body {
    background-image: url(img/fondoyes.jpeg);
    background-size: cover;
    background-position: center;
}

.navegacion {
    background-color: rgba(121, 11, 46, 0);
    padding: 15px;
    text-align: center;
}
.navegacion a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

.intro-text {
    color: white;
    text-align: center;
    margin: 20px 0;
}

h1  {
    color: white;
    text-align: center;
    margin: 20px 0;
}


