body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item .w3-lime  {padding:20px}
header {
    padding: 1rem;
    color: white;
    text-align: center;
}
.textosi {
    
    color: white;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.altura1{
    height: 30vh;
}

.costado{

    padding: 20px;
 }

 h2  {
    color: white;
    font-size: 2em;
}

body {
    background-image: url('img/fondoyes.jpeg');
    background-size: cover;
    background-position: center;
   
}

h4,h3  {
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.5;
    color: #f7f7f7;
}
p  {
    color: white;
    
}

.navegacion {
    background-color: rgba(121, 11, 46, 0);
    padding: 15px;
    text-align: center;
}
.navegacion a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}

.intro-text {
    color: white;
    text-align: center;
    margin: 20px 0;
}

.navbar {
    display: flex;
}

.navbar a {
    flex: 1;
    text-align: center;
    padding: 20px 0;
    color: white;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.navegacion a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
}